/* =====================================================
   PROFILE PAGE
===================================================== */

.profile-page{

    display:flex;

    flex-direction:column;

    gap:30px;

}

/* =====================================================
   CONTENT
===================================================== */

.profile-content{

    display:grid;

    grid-template-columns:2fr 380px;

    gap:30px;

    align-items:start;

}

/* =====================================================
   LEFT
===================================================== */

.profile-main{

    display:flex;

    flex-direction:column;

    gap:30px;

}

/* =====================================================
   RIGHT
===================================================== */

.profile-side{

    position:sticky;

    top:95px;

}

/* =====================================================
   RESPONSIVE
===================================================== */

@media(max-width:1200px){

    .profile-content{

        grid-template-columns:1fr;

    }

    .profile-side{

        position:static;

    }

}