.dashboard-card{

    background:white;

    border-radius:15px;

    padding:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.05);

}

.dashboard-card h3{

    font-size:2rem;

    margin:10px 0;

}

.dashboard-card span{

    font-size:2rem;

}